---
layout: categories
permalink: /categories/
title: Tags
search_exclude: true
---

{% assign sorted_categories = site.categories | sort %}
{% for category in sorted_categories %}
    {% capture category_name %}{{ category | first }}{% endcapture %}

    <h3 id ="{{ category_name }}"><i class="fas fa-tags category-tags-icon"></i></i> {{ category_name }}</h3>
    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories[category_name] %}
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <article class="archive-item">
      <p class="post-meta post-meta-title"><a class="page-meta" href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>  • {{ post.date | date: date_format }}</p>
    </article>
    {% endfor %}
{% endfor %}
