/* ==========================================================================
   Layout
   ========================================================================== */

.u-container {
    max-width: 68rem; // 680px (slightly more compact)
    margin-right: auto;
    margin-left: auto;
    padding-top: $space-xxl; // 96px
    padding-right: 1.5rem; // 24px
    padding-left: 1.5rem; // 24px
}

