/*------------------------------------*\
  Elements > code & pre
\*------------------------------------*/

pre,
code {
  font-family: $font-monospace;
  background-color: $bg-color-gray;
}

pre {
  padding: double($base-spacing-unit);
  margin-bottom: $base-spacing-unit;
  font-size: $font-size-medium;
  line-height: $line-height-medium;
}

pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

li code,
p code { padding: quarter($base-spacing-unit) half($base-spacing-unit); }