/* ==========================================================================
   Archives
   ========================================================================== */

.c-archives {
    margin-bottom: $space-xxl; // 96px
}

.c-archives__year {
    margin-bottom: $space-md; // 32px
    @include fs--heading-1;
    color: $c-text-primary;
}

.c-archives__list {
    margin-bottom: $space-md; // 32px
    list-style: none;
}

.c-archives__item {
    padding-top: $space-md; // 32px
    padding-bottom: $space-md; // 32px
    border-top: 1px solid $c-border;

    @media screen and (min-width: $bp__sm) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    h3 {
        @include fs--body;
        color: $c-text-primary;
    }

    p {
        @include fs--body;
        color: $c-text-tertiary;
    }
}

