/* ==========================================================================
   Page
   ========================================================================== */

.c-page {

}

.c-page__header {
    margin-bottom: $space-xxl; // 96px

    h1 {
        margin-bottom: $space-md; // 32px
        @include fs--heading-2;
        color: $c-text-primary;
    }

    p {
        @include fs--meta;
        color: $c-text-secondary;
    }
}

.c-page__footer {
    margin-bottom: $space-xxl; // 96px
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    p {
        @include fs--body;
        color: $c-text-tertiary;
    }
}

